<h1>RECAP</h1>
<p>Il y a {{ ej_count }} engagements juridiques dans l'INFBUD reçue.</p>
<p>{{ match_count }} ont une correspondance dans Grist dont {{ year_match_count }} pour l'année de l'INFBUD analysée.</p>

{% if bogus_bc_count %}
<p>Il y a {{ bogus_bc_count }} bon(s) de commande avec un montant incohérent :</p>
{{ bogus_bc | safe }}
{% endif %}

<p>Il y a {{ sf_count }} services faits dans l'INFBUD reçue dont {{ interesting_sf_count }} pour des bons de commande suivis dans Grist.</p>
{% if missing_sf_count %}
<p>Il y a {{ missing_sf_count }} services faits manquants dans Grist :</p>
{{ missing_sf | safe }}
{% endif %}

<p>Il y a {{ dp_count }} demandes de paiement dans l'INFBUD reçue dont {{ interesting_dp_count }} pour des bons de commande suivis dans Grist.</p>
{% if bogus_dp_count %}
<p>Il y a {{ bogus_dp_count }} demandes de paiement manquantes ou en erreur dans Grist :</p>
{{ bogus_dp | safe }}
{% endif %}
